<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="bundle/main.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                </rule>
                <rule name="StaticContent">
                    <action type="Rewrite" url="bundle/programs/web.browser{REQUEST_URI}"/>
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="bundle/main.js"/>
                </rule>
            </rules>
        </rewrite>
        <iisnode configOverrides="../iisnode.yml"/>
    </system.webServer>
    <appSettings>
        <add key="MONGO_URL" value="mongodb://localhost:27017/jobCollections" />
        <add key="METEOR_SETTINGS" value='{"jobCollections":[{"name": "student-transcript","adminUserIds": [ "studentTranscriptAdmin", "aFrEmKx5uPxdFdoCk","m4QjM47Ah2T9aZkj6"]}]}' />
        <add key="ROOT_URL" value="https://jobcollection.georgiantest.com"/>
    </appSettings>
</configuration>